body {
	text-align: center;
	min-width: 600px;
}

h1 {
	text-align: center;
}

.boite-centrale {
	width: 700px;
	display: inline-block;
	text-align: left;
	border-radius: 30px;
	padding: 20px;
}

.jumbotron{
	background-image: url(../images/fond-geom1.jpg);
}
