body {
	text-align: center;
}

.col-sm-3 {
    margin-left: 40px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    background-color:#F5F5F5;
}

table {
	background-color: white;
}


tr {
	text-align: left;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #639bcb;
}

.boite-centrale {
	width: 555px;
	display: inline-block;
	text-align: left;
	border-radius: 30px;
	padding: 20px;
}

.boite-commentaires {
	width: 650px;
	text-align: left;
	display: inline-block;

}

.commentaire {
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 3px;
	background-color: #E1E1E1;
	border-radius: 5px;
}

.boite-paroles {
	background-image: url(../images/border.jpg);
	margin-top: 10px;
	padding: 5px;
}

.paroles {
	background: white;
	padding: 20px;

}

.bouton {
	text-align: right;
	margin-top: 5px;
}

.titre {
	text-align: center;
}