textarea {
	max-width: 500px;
	min-width: 500px;
	max-height: 300px;
	min-height: 200px;
}

.boite-centrale {
	width: 555px;
	display: inline-block;
	text-align: left;
	border-radius: 30px;
	padding: 20px;
}